body {
    background-color: #fffff9;
    text-align: center;
}
.form-control {
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 30px;
}
.btn-block {
    margin-bottom: 5px;
}
.home {
    margin: 0 100px 0 100px;
}
.home-with-results {
    padding-bottom: 0;
}
.reset {
    margin-top: 15px;
}
.specialist {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.table {
    margin-bottom: 0;
    padding: 0 20px 0 20px;
}
.table tbody tr th {
    text-align: center;
}
.specialist .insert-case {
    margin-top: 20px;
    position: absolute;
    width: 15%;
}