<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:" ng-click="vm.changeState(vm.states.home)">Drink Smart</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: vm.state === vm.states.home}">
                    <a href="javascript:" ng-click="vm.changeState(vm.states.home)">Descubra seu Drink</a>
                </li>
                <li ng-class="{ active: vm.state === vm.states.spec}">
                    <a href="javascript:" ng-click="vm.changeState(vm.states.spec)">Área do Especialista</a>
                </li>
            </ul>
        </div>
    </div>
</nav>